<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- plugins:css -->
<link rel="stylesheet" href="/assets/back/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/assets/back/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="/assets/back/vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="/assets/back/vendors/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/assets/back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<!-- endinject -->
<!-- Layout styles -->
<link rel="stylesheet" href="/assets/back/css/style.css">
<!-- End layout styles -->
<link rel="shortcut icon" href="/assets/back/images/favicon.png" />


<div class="container-scroller">
  <app-header-admin></app-header-admin>
  <div class="container-fluid page-body-wrapper">
    <app-sidebar-admin></app-sidebar-admin>
    <div class="main-panel">

      <router-outlet></router-outlet>
      <app-footer-admin></app-footer-admin>
    </div>
  </div>
</div>


<!-- container-scroller -->
<!-- plugins:js -->
<script src="/assets/back/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/assets/back/vendors/chart.js/Chart.min.js"></script>
<script src="/assets/back/vendors/jquery-circle-progress/js/circle-progress.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/assets/back/js/off-canvas.js"></script>
<script src="/assets/back/js/hoverable-collapse.js"></script>
<script src="/assets/back/js/misc.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/assets/back/js/dashboard.js"></script>
<!-- End custom js for this page -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Add this script tag to include the Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@latest"></script>
