<div class="center">
  <ng-template #mymodal1 let-modal1>
    <div class="center">
      <form>
        <div class="form-group row">
          <div class="col-md-12">
            <textarea class="form-control" rows="3" placeholder="Comment" [(ngModel)]="newComment.content" [ngModelOptions]="{ standalone: true }"></textarea>
          </div>
        </div>
        <br>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addNewComment()" (click)="modal1.close('Save click')">Add Your Comment!</button>
          <button type="button" class="btn btn-primary" (click)="modal1.close('Save click')">Cancel</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>
